@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&family=Rubik+Wet+Paint&display=swap');
body{
	background-color: lightgreen;
}
p{
	font-size: 50px;
	background-color: yellow;
	color: green;
	font-family: "Rubik Beastly", system-ui;

}
ul, ol{
	font-size: 24px;
	color: purple;
}
ul1 li{
	padding-left: 10px;
}
ul2 li: :marker{
	color: black;
	font-size: 1.1em;
}
ol{
	margin-left: 50px;
}
@counter-style emoji {
  system: cyclic;
  symbols: 😀 👻 👽 👾 🦒 🤖 🎃 😹 👋 👀 💋;
  suffix: " ";
}

ul {
  list-style: circled-digits;
}
.ul3{
	list-style: emoji;
}
dl{
	background-color: lightgreen;
}